body {
	  font-family: Arial;
	  text-align: center;
	  margin-top: 5%;
	}
#button-8{
  background-color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-8:hover{
  -webkit-box-shadow: 0px 0px 10px #34495e;
  box-shadow: 0px 0px 10px #34495e;
}
.button{
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
  float: left;
  margin-top: -30px;
}

	
	li {
	  float: left;
	  list-style: none;
	  width: 25%;
	  padding-right: 5%;
	  font-weight: bold;
    margin-top: 200px;
	}
	
	strong {
	  text-transform: uppercase;
	  display: block;
	  font-size: 500%;
	  margin: 0.25em 0;
	}
	
	.icon {
	  font-size: 200%;	
	  border-radius: 0.5em;
	  padding:0.5em;
	}
	
	#happy {
		background: #bffca1;	
	}
	
	#ok {
		background: #fcf9a1;
	}
	
	#sad {
		background: #fca1a1;
	}
