div {
    
  margin-top: 50px;
    position:absolute;
    left:calc(50% - 100px);
    top:calc(50% - 100px);
    width: 200px;
    height: 200px;
    background: grey;

  
    border-radius:50%;
    border:10px solid black;
    border-right-color:green;
    border-top-color:blue;
    border-bottom-color:red;
  
    -webkit-animation: spin 1000ms linear infinite;
       -moz-animation: spin 1000ms linear infinite;
        -ms-animation: spin 1000ms linear infinite;
            animation: spin 1000ms linear infinite;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
div1 {
    
  margin-top: 270px;
    position:absolute;
    left:calc(50% - 100px);
    top:calc(50% - 100px);
    width: 200px;
    height: 200px;
    background: grey;

  
    border-radius:50%;
    border:10px solid black;
    border-right-color:green;
    border-top-color:blue;
    border-bottom-color:red;
  
    -webkit-animation: spin 1000ms linear infinite;
       -moz-animation: spin 1000ms linear infinite;
        -ms-animation: spin 1000ms linear infinite;
            animation: spin 1000ms linear infinite;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
div2 {
    
  margin-top: 160px;
  margin-left: 190px;
    position:absolute;
    left:calc(50% - 100px);
    top:calc(50% - 100px);
    width: 200px;
    height: 200px;
    background: grey;

  
    border-radius:50%;
    border:10px solid black;
    border-right-color:green;
    border-top-color:blue;
    border-bottom-color:red;
  
    -webkit-animation: spin 1000ms linear infinite;
       -moz-animation: spin 1000ms linear infinite;
        -ms-animation: spin 1000ms linear infinite;
            animation: spin 1000ms linear infinite;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
div3 {
    
  margin-top: 160px;
  margin-left: -190px;
    position:absolute;
    left:calc(50% - 100px);
    top:calc(50% - 100px);
    width: 200px;
    height: 200px;
    background: grey;

  
    border-radius:50%;
    border:10px solid black;
    border-right-color:green;
    border-top-color:blue;
    border-bottom-color:red;
  
    -webkit-animation: spin 1000ms linear infinite;
       -moz-animation: spin 1000ms linear infinite;
        -ms-animation: spin 1000ms linear infinite;
            animation: spin 1000ms linear infinite;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.button{
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
}
#button-8{
  background-color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-8:hover{
  -webkit-box-shadow: 0px 0px 10px #34495e;
  box-shadow: 0px 0px 10px #34495e;
}
