body {
    background: linear-gradient(to left, black , gray);
  color: white;
  font-family: sans-serif;
}

.container {
  width: 100%;
  margin-left: 10%;
}

.ex-wrapper {
  width: 30%;
  display: inline-block;
}

.example {
  margin: 4%;
  width: 150px;
  height: 150px;
  background: #C4E0E5;
  background: linear-gradient(to left, #4CA1AF , #C4E0E5);
  border-radius: 10%;
  -webkit-transition: all .75s ease;
  -moz-transition: all .75s ease;
  transition: all .75s ease;
}

.example.one:hover {
  transform: translateY(200px);
}

.example.two:hover {
  transform: translateY(-50px);
}

.example.three:hover {
  transform: translateX(60px);
}

.tag {
  margin: 12%;
  width: 33%;
}
.button{
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
}
#button-8{
  background-color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-8:hover{
  -webkit-box-shadow: 0px 0px 10px #34495e;
  box-shadow: 0px 0px 10px #34495e;
}
