.container {
  height:250px;
  width:250px;
  margin: 100px auto;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.cube {
  position:absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transform-origin: 50% 50% 125px;
  animation: rotate 5s linear infinite;
}

.side {
  border: 1px solid #0A1F33;
  font-size: 4em;
  text-align: center;
  line-height: 250px;
  color: #000;
  height: 100%;
  width: 100%;
  position: absolute;
}

.front {
  transform: translateZ(250px);
}

.right {
  transform: translateZ(125px) translateX(125px) rotateY(90deg);
}

.left {
  transform: translateZ(125px) translateX(-125px) rotateY(-90deg);
}

.behind {
  transform: rotateY(180deg);
}
@keyframes rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}
#button-8{
  background-color: #34495e;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#button-8:hover{
  -webkit-box-shadow: 0px 0px 10px #34495e;
  box-shadow: 0px 0px 10px #34495e;
}
.button{
  display: inline-block;
  padding: 20px 50px;
  margin: 20px 0;
  position: relative;
  color: #ecf0f1;
}
