body {
		background-color: gray;
		}

.header{
  width: 800px;
  height: 200px;
		margin: auto;
		border: 2px solid black;
  margin-bottom: 10px;
    text-align: center;
     	}
.navi{
	  overflow: hidden;
	   width: 100%;
	   	border: 2px solid #000;
		height:50px;
		text-align: center;
		word-spacing: 3px;
	 }

.navi a{
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 17px;
		
		}		

.maincontent{
	    height: 450px;
		float:right;
		width:550px;
		}
.content{
		float: center;
		width:990PX;
		margin-left:50px;
	
		}
.sidebar{
		height: 450px;
		float:left;
		border:1px solid #000;
		}
.main{
		float:right;
		width:1200px;
		}
.body2{
		
		padding: 2px;
		border: 2px solid #000;
		font-family: times new roman;
		height:550px;
  text-align: center;
		}
.left{
		float:left;
		margin:20px;
		width:42%;
		text-align:center;
		}
.right{
		margin:20px;
		float: right;
		width:42%;
		margin-top: 80px;
		text-align:center;
	  }

.footer{

  width: 800px;
  height: 200px;
		margin: auto;
		border: 2px solid black;
  margin-top: 10px;
    text-align: center;
		}
    border: 2px solid black;
.button {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
margin-left: 560px;
}
.button1 {
  background-color: #34495e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
margin-left: 560px;
}
p{
text-align: center;
  font-family: times new roman;
  margin-top: 50px;
}
p1{
  text-align: center;
  margin: auto;
}

.container{
 height: 150px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -450px;

}

.square{
  height: 94%;
  width: 94%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black{ 
  background: black;  
  animation: rotate 10s infinite linear; 
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }	
}

.container1{
  height: 150px;
  width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 350px;
}

.square{
  height: 94%;
  width: 94%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black{ 
  background: black;  
  animation: rotate 10s infinite linear; 
}

@keyframes rotate{
  0%{ transform: rotate(0deg); }
	100%{ transform: rotate(360deg); }	
}

.insta{
  background: 
  -webkit-linear-gradient(bottom left, #000000 0%, #000000 50%, #000000 100%);
  width: 40px;
  height: 40px;
  border-radius: 25%; 
  float:left;
  margin:20px 40px 0 0;
}

.shape{
  transform: translate(7%, 7%);
  width: 35px;
  height: 35px;
  border-radius: 25%;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}

.shape::before{
  content: '';
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-top: 6px;
  margin-left: 28px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
}

.shape::after{
  position: absolute;
  content: '';
  margin-top: 7.5px;
  margin-left: 7.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
}


/* FACEBOOK */

.fb {
  list-style:none;
  padding:0;
  margin:0;
  font:0.875em/1 Arial, sans-serif;
}

.fb .fbpos {
  float:left;
  width:66px;
  height:66px;
  margin:18px 20px 0 0;
}

.fb .fbpos .fbanchor {
  display:block;
  width:40px;
  height:40px;
  overflow:hidden;
  border:1px solid transparent;
  line-height:40px;
  text-decoration:none;
  border-radius:5px; 
}

.facebook .fbanchor {
  position:relative;
  border-color:#3c5a98;
  text-transform:lowercase;
  text-indent:14px;
  letter-spacing:10px;
  font-weight:bold;
  font-size:40px;
  line-height:46px;
  color:#fff;
  background:#000000;
}

/* TWITTER */

.tw {
    list-style:none;
    padding:0;
    margin:0;
    font:0.875em/1 Arial, sans-serif;
}
.tw .twpos {
    float:left;
    width:66px;
    height:66px;
    margin:18px 20px 0 0;
}
.tw .twpos .twanchor {
    display:block;
    width:40px;
    height:40px;
    overflow:hidden;
    border:1px solid transparent;
    line-height:37px; /* Adjust pa taas pa dalum sang text */
    text-decoration:none;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px; 
}
.twitter .twanchor {
    position:relative;
    text-transform:lowercase;
    text-indent:12px; /* Adjust pa pa left/right sang text */
    letter-spacing:40px;
    font:bold 40px Tahoma, sans-serif;
    line-height:40px;
    color:rgb(255, 255, 255);
    background:#000000;
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4); 
    background: black;
}
h3{
  margin-left: 300px;
  margin-top: 50px;
}
.TM{
  text-align: center;
  margin-top: 135px;
}
